[mcu hexa]

canbus_uuid: 4a8f86daccd3
canbus_interface: can0
#serial: /dev/serial/by-id/usb-klipper_stm32f072xb_34001F000D57465235303720-if00
# #/dev/serial/by-id/usb-Klipper_stm32f072xe_34001F000D57465235303720-if00



[temperature_sensor Hexa]
sensor_type: temperature_mcu
sensor_mcu: hexa
min_temp: 0
max_temp: 100


# [output_pin _abs_exhaust_1]
# pin: hexa:PC13
# value: 1
# shutdown_value: 0

# [fan_generic abs_exhaust_1]
# pin: hexa:PC13
# enable_pin: hexa:PA10
# kick_start_time: 0.5

# [fan_generic abs_filter]
# pin: hexa:PB6
# enable_pin: hexa:PB7
# kick_start_time: 0.5


###########################################################################
# ADC IN 1-4
# ADC channels 1-4 have 4.7kΩ pull-up resistors; you can connect ADC sensors, such as thermistors. The following is an example:
###########################################################################
# [temperature_sensor ADC1]
# sensor_type: Generic 3950
# sensor_pin: hexa:PA0
# min_temp:-200
# max_temp:300

[temperature_sensor Frame]
sensor_type: Generic 3950
sensor_pin:  hexa:PA3
min_temp:0
max_temp:100

# [temperature_sensor Chamber2]
# sensor_type: Generic 3950
# sensor_pin: hexa:PA1
# min_temp:-200
# max_temp:300



# ###########################################################################
# # IO1-6
# # The IO_pins of IO1-IO6 feature level shifting, allowing for external 5V/24V input/output.
# # The GND_pin is connected to a controllable NMOSFET.
# # This allows IO1-IO6 to be used as a 2-pin/3-pin fan, 5V NeoPixel RGB control/servo, or 24V proximity switch input.
# # When used as general IO inputs, the GND MOSFET must be in a normally closed state.
# ###########################################################################
# # hexa:PC13   #IO.1
# # hexa:PA10   #IO.1.GND(IO_PWR_1)
# # hexa:PB6    #IO.2
# # hexa:PB7    #IO.2.GND(IO_PWR_2)
# # hexa:PB4    #IO.3
# # hexa:PB5    #IO.3.GND(IO_PWR_3)
# # hexa:PA14   #IO.4
# # hexa:PB2    #IO.4.GND(IO_PWR_4)
# # hexa:PA9    #IO.5
# # hexa:PA15   #IO.5.GND(IO_PWR_5)
# # hexa:PB15   #IO.6
# # hexa:PA8    #IO.6.GND(IO_PWR_6)



# ###########################################################################
# # IO7-14
# # IO7-14 have 4.7kΩ pull-up resistors; It can be used as both an output and an input, with a signal level of 3.3V. 
# # It can be used as an input such as a limit switch/filament sensor or as a separate pin output.
# ###########################################################################

# # hexa:PB1      #IO.7
# # hexa:PB0    #IO.8
# # hexa:PA7     #IO.9
# # hexa:PA6    #IO.10
# # hexa:PA5      #IO.11
# # hexa:PA4    #IO.12
# # hexa:PC14    #IO.13
# # hexa:PC15   #IO.14

# ###########################################################################
# # Power Switch 1-6
# # When the switch is in the OFF position, you can control the power on and off through the klipper.
# ###########################################################################
# # hexa:PB14    #PWR.1
# # hexa:PB13    #PWR.2
# # hexa:PB12    #PWR.3
# # hexa:PB2     #PWR.4
# # hexa:PB10    #PWR.5
# # hexa:PB11    #PWR.6

# [output_pin PWR.1]
# pin: hexa:PB14
# # pwm: false
# # cycle_time: 0.010
# value: 0
# shutdown_value: 1

# [output_pin PWR.2]
# pin: hexa:PB13
# # pwm: false
# # cycle_time: 0.010
# value: 0
# shutdown_value: 1

# [output_pin PWR.3]
# pin: hexa:PB12
# # pwm: false
# # cycle_time: 0.010
# value: 0
# shutdown_value: 1

# [output_pin PWR.4]
# pin: hexa:PB2
# # pwm: false
# # cycle_time: 0.010
# value: 0
# shutdown_value: 1

# [output_pin PWR.5]
# pin: hexa:PB10
# # pwm: false
# # cycle_time: 0.010
# value: 0
# shutdown_value: 1

# [output_pin PWR.6]
# pin: hexa:PB11
# # pwm: false
# # cycle_time: 0.010
# value: 0
# shutdown_value: 1

