[axiscope]
z_backend: cartographer
probe_x_pos: 185
probe_y_pos: 175
reference_tool: 0
lift_z: 10
move_speed: 200
z_move_speed: 10
samples: 1
use_current_z_offsets: False

config_file_path: ~/printer_data/config/printer.cfg
touch_model_config_file_path: ~/printer_data/config/printer.cfg

touch_home_gcode: CARTOGRAPHER_TOUCH_HOME
touch_probe_gcode: CARTOGRAPHER_TOUCH_PROBE

start_gcode:
  G28
  T0
  QUAD_GANTRY_LEVEL
  
before_pickup_gcode:
after_pickup_gcode: 
finish_gcode:
  T0





# [axiscope]
# pin: ^PE12                

# zswitch_x_pos: 265     # REQUIRED - X position of the endstop switch
# zswitch_y_pos: 348      # REQUIRED - Y position of the endstop switch
# zswitch_z_pos: 2          # REQUIRED - Z position + some clearance of the endstop switch
# lift_z: 2                 # OPTIONAL - Amount to lift Z before moving (default: 1)
# move_speed: 60            # OPTIONAL - XY movement speed in mm/s (default: 60)
# z_move_speed: 10          # OPTIONAL - Z movement speed in mm/s (default: 10)
# start_gcode: M118 Starting calibration G28 -> QGL -> G28Z
#              G28
#              QUAD_GANTRY_LEVEL
#              G28 Z
#              #G0 X175 Y175 Z30 F3000   # Move to center @ focal length of camera Z=30
# before_pickup_gcode: M118 Something Could be Done here
# after_pickup_gcode: M118 CLEAN_NOZZLE
#                     M109 S150
#                     CLEAN_NOZZLE PURGE=0 WIPE=10
# finish_gcode: M118 Calibration complete
#               T0
#               TURN_OFF_HEATERS