# Cartographer V4 - USB + Scan mode
[mcu cartographer]
serial: /dev/serial/by-id/usb-Cartographer_stm32g431xx_400038000C50315447313620-if00
restart_method: command

[cartographer]
mcu: cartographer
x_offset: 0
y_offset: 48
verbose: yes #no

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105


[cartographer scan]
mesh_runs: 2

[axis_twist_compensation] 




[quad_gantry_level]
# gantry_corners:
#     -60, -10
#     410, 420
gantry_corners:
    50, -5
    326, 250

points:
    56, -5
    56, 255
    320, 255
    320, -5


    
speed: 300
horizontal_move_z: 2 
retry_tolerance: 0.005
retries: 10
max_adjust: 10




# [gcode_macro QUAD_GANTRY_LEVEL]
# rename_existing: _QUAD_GANTRY_LEVEL
# gcode:
#     # Coarse pass using touch to handle badly unlevel gantry
#     _QUAD_GANTRY_LEVEL HORIZONTAL_MOVE_Z=4 RETRY_TOLERANCE=0.1
#     # Fine pass - scan takes over at low z
#     _QUAD_GANTRY_LEVEL HORIZONTAL_MOVE_Z=2 RETRY_TOLERANCE=0.005




[bed_mesh]
zero_reference_position: 175, 130

speed: 400
horizontal_move_z: 2
mesh_min: 30, 42
mesh_max: 340, 320

probe_count: 10,10
adaptive_margin: 5
mesh_pps: 2, 2
algorithm: bicubic

fade_start: 1                       
fade_end: 10                    
fade_target: 0

    



# [adxl345 carto]
# # Select 1 of the cs_pin below depending on the probe you have. 
# # Having the wrong one selected will cause an Endless Bootloop
# # Cartographer V4 has int2 connected to the probes PA1 pin

# cs_pin: cartographer:PA0 # For Cartographer V4
# spi_bus: spi1
# axes_map: y, -x, z

# # [resonance_tester]
# # accel_chip: adxl345
# # probe_points:
# #     175, 175, 50




















