################################################################################
# SPOOLMAN
################################################################################
[delayed_gcode _load_spoolman_variables]
initial_duration: 3
gcode:
    {% set svv = printer.save_variables.variables %}
    RESPOND MSG="All saved variables: {svv}"
    
    {% if 't0__spool_id' in svv %}
        RESPOND MSG="Setting T0 to spool {svv.t0__spool_id}"
        SET_ACTIVE_SPOOL ID={svv.t0__spool_id} TOOL=0
        SET_GCODE_VARIABLE MACRO=T0 VARIABLE=spool_id VALUE={svv.t0__spool_id}
    {% endif %}
    
    {% if 't1__spool_id' in svv %}
        RESPOND MSG="Setting T1 to spool {svv.t1__spool_id}"
        SET_ACTIVE_SPOOL ID={svv.t1__spool_id} TOOL=1
        SET_GCODE_VARIABLE MACRO=T1 VARIABLE=spool_id VALUE={svv.t1__spool_id}
    {% endif %}
    
    {% if 't2__spool_id' in svv %}
        RESPOND MSG="Setting T2 to spool {svv.t2__spool_id}"
        SET_ACTIVE_SPOOL ID={svv.t2__spool_id} TOOL=2
        SET_GCODE_VARIABLE MACRO=T2 VARIABLE=spool_id VALUE={svv.t2__spool_id}
    {% endif %}
    
    {% if 't3__spool_id' in svv %}
        RESPOND MSG="Setting T3 to spool {svv.t3__spool_id}"
        SET_ACTIVE_SPOOL ID={svv.t3__spool_id} TOOL=3
        SET_GCODE_VARIABLE MACRO=T3 VARIABLE=spool_id VALUE={svv.t3__spool_id}
    {% endif %}
    
   
    
[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
    {% if params.TOOL is defined %}
      {% set tool = params.TOOL|int %}
      {action_call_remote_method(
         "spoolman_set_active_spool",
         spool_id=id,
         tool=tool
      )}
    {% else %}
      {action_call_remote_method(
         "spoolman_set_active_spool",
         spool_id=id
      )}
    {% endif %}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}
    

[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
  {action_call_remote_method(
    "spoolman_set_active_spool",
    spool_id=None
  )}
