# Scanner/detect-only mode - Cartographer handles all probing.
# switch_probe pins are used only for tool presence + crash detection.

[switch_probe]
scanner: True
crash_gcode:
    M117 Crash detected!
    STOP_CRASH_DETECTION
recover_gcode:
    M117 Tool recovered.
crash_debounce_delay: 0.05

[switch_probe T0]
pin: ^!tool0:PB6
tool: 0
flip_trigger: True

[switch_probe T1]
pin: ^!tool1:PB6
tool: 1
flip_trigger: True

[switch_probe T2]
pin: ^!tool2:PB6
tool: 2
flip_trigger: True

[switch_probe T3]
pin: ^!tool3:PB6
tool: 3
flip_trigger: True
