################################################################################
#                    TOOL CHANGER CONFIGURATION - TOOL 2                       #
#                              Sovol SV08 Printer                              #
################################################################################

################################################################################
# TOOL 2 MICROCONTROLLER (BigTreeTech EBB CAN V1.2)
################################################################################

[mcu tool2]
canbus_uuid: c4123f19b1d1

################################################################################
# TOOL 2 EXTRUDER CONFIGURATION
################################################################################

[extruder2]
step_pin: tool2:PD0
dir_pin: !tool2:PD1
enable_pin: !tool2:PD2
heater_pin: tool2:PB13
sensor_pin: tool2:PA3
sensor_type: ATC Semitec 104NT-4-R025H42G
pullup_resistor: 4700
full_steps_per_rotation: 200
microsteps: 16

rotation_distance: 22.67895
gear_ratio: 50:10

nozzle_diameter: 0.400
filament_diameter: 1.75
min_temp: 0
max_temp: 305
max_power: 1.0
min_extrude_temp: 50

max_extrude_only_distance: 1500
max_extrude_cross_section: 10
max_extrude_only_velocity: 75
max_extrude_only_accel: 1500

#control: pid
# pid_Kp: 43.595
# pid_Ki: 13.839
# pid_Kd: 34.333
pressure_advance: 0.02
pressure_advance_smooth_time: 0.035

################################################################################
# TOOL 2 EXTRUDER STEPPER DRIVER (TMC2209)
################################################################################

[tmc2209 extruder2]
uart_pin: tool2:PA15
interpolate: True
run_current: 0.65
sense_resistor: 0.150

################################################################################
# TOOL 2 HEATER SAFETY VERIFICATION
################################################################################

[verify_heater extruder2]
max_error: 120
check_gain_time: 20
hysteresis: 5
heating_gain: 2

################################################################################
# TOOL 2 TEMPERATURE MONITORING
################################################################################

[temperature_sensor Tool_2_Temp]
sensor_type: temperature_mcu
sensor_mcu: tool2
min_temp: -200
max_temp: 300

################################################################################
# TOOL 2 PART COOLING FAN
################################################################################

[fan_generic t2_partfan]
pin: tool2:PA0
max_power: 1.0
cycle_time: 0.010
kick_start_time: 0.6
off_below: 0.05
# tachometer_pin: tool2:PB7
# tachometer_ppr: 1
# tachometer_poll_interval: 0.0013

# [fan_generic t2_partfan]
# pin: tool2:PA0

################################################################################
# TOOL 2 HOTEND COOLING FAN
################################################################################

[heater_fan t2_hotend_fan]
pin: tool2:PA1
max_power: 1.0
kick_start_time: 0.5
heater: extruder2
heater_temp: 45.0

################################################################################
# TOOL 2 DEFINITION
################################################################################

[tool T2]
tool_number: 2
params_accel: 'tool2'
extruder: extruder2
fan: t2_partfan
detection_pin: ^!tool2:PB6

# params_park_x: 246
# params_park_y: 20
# params_park_z: 292.4

gcode_x_offset: 1.300
gcode_y_offset: -1.700
gcode_z_offset: 0.733


params_retract_length: 0.7
params_retract_speed: 30
params_unretract_extra_length: 0
params_unretract_speed: 30

params_input_shaper_type_x: 'ei'
params_input_shaper_freq_x: 77.0
params_input_shaper_damping_ratio_x: 0.043

params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 43.2
params_input_shaper_damping_ratio_y: 0.049

after_change_gcode:
    # Set input shaper for T2
    SET_INPUT_SHAPER SHAPER_TYPE_X={printer["tool T2"].params_input_shaper_type_x} SHAPER_FREQ_X={printer["tool T2"].params_input_shaper_freq_x} DAMPING_RATIO_X={printer["tool T2"].params_input_shaper_damping_ratio_x} SHAPER_TYPE_Y={printer["tool T2"].params_input_shaper_type_y} SHAPER_FREQ_Y={printer["tool T2"].params_input_shaper_freq_y} DAMPING_RATIO_Y={printer["tool T2"].params_input_shaper_damping_ratio_y}

    #RESPOND MSG="T2 after_change: is_printing={printer['gcode_macro _PRINT_TRACKER'].is_printing}"

    # Set retraction - use slicer values if printing, config defaults otherwise
    {% if printer["gcode_macro _PRINT_TRACKER"].is_printing %}
      {% set rmap = printer["gcode_macro _SLICER_TOOL_PARAMS"].retract %}
      #RESPOND MSG="T2 retract map={rmap}"
      {% if '2' in rmap %}
        {% set r = rmap['2'] %}
        #RESPOND MSG="T2 using slicer retract len={r['length']} speed={r['speed']} unretract={r['unretract']}"
        SET_RETRACTION RETRACT_LENGTH={r['length']} RETRACT_SPEED={r['speed']} UNRETRACT_EXTRA_LENGTH={printer["tool T2"].params_unretract_extra_length} UNRETRACT_SPEED={r['unretract']}
      {% else %}
      #  RESPOND MSG="T2 using default retract len={printer['tool T2'].params_retract_length} speed={printer['tool T2'].params_retract_speed} unretract={printer['tool T2'].params_unretract_speed}"
        SET_RETRACTION RETRACT_LENGTH={printer["tool T2"].params_retract_length} RETRACT_SPEED={printer["tool T2"].params_retract_speed} UNRETRACT_EXTRA_LENGTH={printer["tool T2"].params_unretract_extra_length} UNRETRACT_SPEED={printer["tool T2"].params_unretract_speed}
      {% endif %}
    {% else %}
    #  RESPOND MSG="T2 not printing, using default retract len={printer['tool T2'].params_retract_length} speed={printer['tool T2'].params_retract_speed} unretract={printer['tool T2'].params_unretract_speed}"
      SET_RETRACTION RETRACT_LENGTH={printer["tool T2"].params_retract_length} RETRACT_SPEED={printer["tool T2"].params_retract_speed} UNRETRACT_EXTRA_LENGTH={printer["tool T2"].params_unretract_extra_length} UNRETRACT_SPEED={printer["tool T2"].params_unretract_speed}
    {% endif %}

    # Set pressure advance - use slicer values if printing, config defaults otherwise
    {% if printer["gcode_macro _PRINT_TRACKER"].is_printing %}
      {% set pamap = printer["gcode_macro _SLICER_TOOL_PA"].pa %}
   #   RESPOND MSG="T2 PA map={pamap}"
      {% if '2' in pamap %}
    #    RESPOND MSG="T2 using slicer PA={pamap['2']}"
        SET_PRESSURE_ADVANCE EXTRUDER={printer["tool T2"].extruder} ADVANCE={pamap['2']}
      {% else %}
    #    RESPOND MSG="T2 using default PA={printer[printer['tool T2'].extruder].pressure_advance}"
        SET_PRESSURE_ADVANCE EXTRUDER={printer["tool T2"].extruder} ADVANCE={printer[printer["tool T2"].extruder].pressure_advance}
      {% endif %}
    {% else %}
  #    RESPOND MSG="T2 not printing, using default PA={printer[printer['tool T2'].extruder].pressure_advance}"
      SET_PRESSURE_ADVANCE EXTRUDER={printer["tool T2"].extruder} ADVANCE={printer[printer["tool T2"].extruder].pressure_advance}
    {% endif %}

    # Purge and clean nozzle if printing (only if homed)
    {% if printer["gcode_macro _PRINT_TRACKER"].is_printing %}
      {% if 'x' in printer.toolhead.homed_axes and 'y' in printer.toolhead.homed_axes and 'z' in printer.toolhead.homed_axes %}
        #CLEAN_NOZZLE PURGE=50 WIPE=5
      {% endif %}
    {% endif %}
    
# after_change_gcode:
#     # Set input shaper for T2
#     SET_INPUT_SHAPER SHAPER_TYPE_X={printer["tool T2"].params_input_shaper_type_x} SHAPER_FREQ_X={printer["tool T2"].params_input_shaper_freq_x} DAMPING_RATIO_X={printer["tool T2"].params_input_shaper_damping_ratio_x} SHAPER_TYPE_Y={printer["tool T2"].params_input_shaper_type_y} SHAPER_FREQ_Y={printer["tool T2"].params_input_shaper_freq_y} DAMPING_RATIO_Y={printer["tool T2"].params_input_shaper_damping_ratio_y}

#     RESPOND MSG="T2 after_change: is_printing={printer['gcode_macro _PRINT_TRACKER'].is_printing}"

#     # Set retraction - use slicer values if printing, config defaults otherwise
#     {% if printer["gcode_macro _PRINT_TRACKER"].is_printing %}
#       {% set rmap = printer["gcode_macro _SLICER_TOOL_PARAMS"].retract %}
#       RESPOND MSG="T2 retract map={rmap}"
#       {% if '2' in rmap %}
#         {% set r = rmap['2'] %}
#         RESPOND MSG="T2 using slicer retract len={r['length']} speed={r['speed']} unretract={r['unretract']}"
#         SET_RETRACTION RETRACT_LENGTH={r['length']} RETRACT_SPEED={r['speed']} UNRETRACT_EXTRA_LENGTH={printer["tool T2"].params_unretract_extra_length} UNRETRACT_SPEED={r['unretract']}
#       {% else %}
#         RESPOND MSG="T2 using default retract len={printer['tool T2'].params_retract_length} speed={printer['tool T2'].params_retract_speed} unretract={printer['tool T2'].params_unretract_speed}"
#         SET_RETRACTION RETRACT_LENGTH={printer["tool T2"].params_retract_length} RETRACT_SPEED={printer["tool T2"].params_retract_speed} UNRETRACT_EXTRA_LENGTH={printer["tool T2"].params_unretract_extra_length} UNRETRACT_SPEED={printer["tool T2"].params_unretract_speed}
#       {% endif %}
#     {% else %}
#       RESPOND MSG="T2 not printing, using default retract len={printer['tool T2'].params_retract_length} speed={printer['tool T2'].params_retract_speed} unretract={printer['tool T2'].params_unretract_speed}"
#       SET_RETRACTION RETRACT_LENGTH={printer["tool T2"].params_retract_length} RETRACT_SPEED={printer["tool T2"].params_retract_speed} UNRETRACT_EXTRA_LENGTH={printer["tool T2"].params_unretract_extra_length} UNRETRACT_SPEED={printer["tool T2"].params_unretract_speed}
#     {% endif %}

#     # Set pressure advance - use slicer values if printing, config defaults otherwise
#     {% if printer["gcode_macro _PRINT_TRACKER"].is_printing %}
#       {% set pamap = printer["gcode_macro _SLICER_TOOL_PA"].pa %}
#       RESPOND MSG="T2 PA map={pamap}"
#       {% if '2' in pamap %}
#         RESPOND MSG="T2 using slicer PA={pamap['2']}"
#         SET_PRESSURE_ADVANCE EXTRUDER={printer["tool T2"].extruder} ADVANCE={pamap['2']}
#       {% else %}
#         RESPOND MSG="T2 using default PA={printer[printer['tool T2'].extruder].pressure_advance}"
#         SET_PRESSURE_ADVANCE EXTRUDER={printer["tool T2"].extruder} ADVANCE={printer[printer["tool T2"].extruder].pressure_advance}
#       {% endif %}
#     {% else %}
#       RESPOND MSG="T2 not printing, using default PA={printer[printer['tool T2'].extruder].pressure_advance}"
#       SET_PRESSURE_ADVANCE EXTRUDER={printer["tool T2"].extruder} ADVANCE={printer[printer["tool T2"].extruder].pressure_advance}
#     {% endif %}

#     # Purge and clean nozzle if printing (only if homed)
#     {% if printer["gcode_macro _PRINT_TRACKER"].is_printing %}
#       {% if 'x' in printer.toolhead.homed_axes and 'y' in printer.toolhead.homed_axes and 'z' in printer.toolhead.homed_axes %}
#         #CLEAN_NOZZLE PURGE=50 WIPE=5
#       {% endif %}
#     {% endif %}

################################################################################
# TOOL 2 MACRO
################################################################################

[gcode_macro T2]
variable_active: 0
variable_color: ""
variable_spool_id: None
gcode:
    {% set svv = printer.save_variables.variables %}
    SELECT_TOOL T=2
    {% if svv.t2__spool_id is defined and svv.t2__spool_id %}
        SET_GCODE_VARIABLE MACRO=T2 VARIABLE=spool_id VALUE={svv.t2__spool_id}
        SET_ACTIVE_SPOOL ID={svv.t2__spool_id}
    {% endif %}

################################################################################
# TOOL 2 ACCELEROMETER (ADXL345)
################################################################################

[adxl345 tool2]
cs_pin: tool2:PB12
spi_bus: spi2_PB2_PB11_PB10
axes_map: x, z, -y